/* Margin and padding */
@import 'api/border.pcss';
@import 'api/padding_margin.pcss';
@import 'api/bg.pcss';
@import 'api/text.pcss';
@import 'api/shadow.pcss';
@import 'api/display.pcss';

.position-static {
  position: static;
}
.position-relative {
  position: relative;
}
.position-absolute {
  position: absolute;
}
.position-fixed {
  position: fixed;
}
.position-sticky {
  position: sticky;
}

.w-100 {
  width: 100%;
}
.w-auto {
  width: auto;
}

.h-100 {
  height: 100%;
}
.h-auto {
  height: auto;
}

/* Font */
.font-monospace {
  font-family: 'var(--font-monospace)!important';
}

.fs-1 {
  font-size: calc(1.375rem + 1.5vw);
}
.fs-2 {
  font-size: calc(1.325rem + 0.9vw);
}
.fs-3 {
  font-size: calc(1.3rem + 0.6vw);
}
.fs-4 {
  font-size: calc(1.275rem + 0.3vw);
}
.fs-5 {
  font-size: 1.25rem;
}
.fs-6 {
  font-size: 1rem;
}

.fst-italic {
  font-style: italic;
}
.fst-normal {
  font-style: normal;
}

.fw-light {
  font-weight: 300;
}
.fw-lighter {
  font-weight: lighter;
}
.fw-normal {
  font-weight: 400;
}
.fw-bold {
  font-weight: 700;
}
.fw-semibold {
  font-weight: 600;
}
.fw-bolder {
  font-weight: bolder;
}

.lh-1 {
  line-height: 1;
}
.lh-sm {
  line-height: 1.25;
}
.lh-base {
  line-height: 1.5;
}
.lh-lg {
  line-height: 2;
}

.pe-none {
  pointer-events: none;
}

.pe-auto {
  pointer-events: auto;
}

.flex-fill {
  flex: 1 1 auto;
}
.flex-row {
  flex-direction: row;
}
.flex-column {
  flex-direction: column;
}
.flex-row-reverse {
  flex-direction: row-reverse;
}
.flex-column-reverse {
  flex-direction: column-reverse;
}
.flex-grow-0 {
  flex-grow: 0;
}
.flex-grow-1 {
  flex-grow: 1;
}
.flex-shrink-0 {
  flex-shrink: 0;
}
.flex-shrink-1 {
  flex-shrink: 1;
}
.flex-wrap {
  flex-wrap: wrap;
}
.flex-nowrap {
  flex-wrap: nowrap;
}
.flex-wrap-reverse {
  flex-wrap: wrap-reverse;
}
.justify-content-start {
  justify-content: flex-start;
}
.justify-content-end {
  justify-content: flex-end;
}
.justify-content-center {
  justify-content: center;
}
.justify-content-between {
  justify-content: space-between;
}
.justify-content-around {
  justify-content: space-around;
}
.justify-content-evenly {
  justify-content: space-evenly;
}
.align-items-start {
  align-items: flex-start;
}
.align-items-end {
  align-items: flex-end;
}
.align-items-center {
  align-items: center;
}
.align-items-baseline {
  align-items: baseline;
}
.align-items-stretch {
  align-items: stretch;
}
.align-content-start {
  align-content: flex-start;
}
.align-content-end {
  align-content: flex-end;
}
.align-content-center {
  align-content: center;
}
.align-content-between {
  align-content: space-between;
}
.align-content-around {
  align-content: space-around;
}
.align-content-stretch {
  align-content: stretch;
}
.align-self-auto {
  align-self: auto;
}
.align-self-start {
  align-self: flex-start;
}
.align-self-end {
  align-self: flex-end;
}
.align-self-center {
  align-self: center;
}
.align-self-baseline {
  align-self: baseline;
}
.align-self-stretch {
  align-self: stretch;
}

@media (--sm) {
  .sm\:flex-fill {
    flex: 1 1 auto;
  }
  .sm\:flex-row {
    flex-direction: row;
  }
  .sm\:flex-column {
    flex-direction: column;
  }
  .sm\:flex-row-reverse {
    flex-direction: row-reverse;
  }
  .sm\:flex-column-reverse {
    flex-direction: column-reverse;
  }
  .sm\:flex-grow-0 {
    flex-grow: 0;
  }
  .sm\:flex-grow-1 {
    flex-grow: 1;
  }
  .sm\:flex-shrink-0 {
    flex-shrink: 0;
  }
  .sm\:flex-shrink-1 {
    flex-shrink: 1;
  }
  .sm\:flex-wrap {
    flex-wrap: wrap;
  }
  .sm\:flex-nowrap {
    flex-wrap: nowrap;
  }
  .sm\:flex-wrap-reverse {
    flex-wrap: wrap-reverse;
  }

  .sm\:justify-content-start {
    justify-content: flex-start;
  }
  .sm\:justify-content-end {
    justify-content: flex-end;
  }
  .sm\:justify-content-center {
    justify-content: center;
  }
  .sm\:justify-content-between {
    justify-content: space-between;
  }
  .sm\:justify-content-around {
    justify-content: space-around;
  }
  .sm\:justify-content-evenly {
    justify-content: space-evenly;
  }

  .sm\:align-items-start {
    align-items: flex-start;
  }
  .sm\:align-items-end {
    align-items: flex-end;
  }
  .sm\:align-items-center {
    align-items: center;
  }
  .sm\:align-items-baseline {
    align-items: baseline;
  }
  .sm\:align-items-stretch {
    align-items: stretch;
  }
  .sm\:align-content-start {
    align-content: flex-start;
  }
  .sm\:align-content-end {
    align-content: flex-end;
  }
  .sm\:align-content-center {
    align-content: center;
  }
  .sm\:align-content-between {
    align-content: space-between;
  }
  .sm\:align-content-around {
    align-content: space-around;
  }
  .sm\:align-content-stretch {
    align-content: stretch;
  }
  .sm\:align-self-auto {
    align-self: auto;
  }
  .sm\:align-self-start {
    align-self: flex-start;
  }
  .sm\:align-self-end {
    align-self: flex-end;
  }
  .sm\:align-self-center {
    align-self: center;
  }
  .sm\:align-self-baseline {
    align-self: baseline;
  }
  .sm\:align-self-stretch {
    align-self: stretch;
  }
}

@media (--md) {
  .md\:flex-fill {
    flex: 1 1 auto;
  }
  .md\:flex-row {
    flex-direction: row;
  }
  .md\:flex-column {
    flex-direction: column;
  }
  .md\:flex-row-reverse {
    flex-direction: row-reverse;
  }
  .md\:flex-column-reverse {
    flex-direction: column-reverse;
  }
  .md\:flex-grow-0 {
    flex-grow: 0;
  }
  .md\:flex-grow-1 {
    flex-grow: 1;
  }
  .md\:flex-shrink-0 {
    flex-shrink: 0;
  }
  .md\:flex-shrink-1 {
    flex-shrink: 1;
  }
  .md\:flex-wrap {
    flex-wrap: wrap;
  }
  .md\:flex-nowrap {
    flex-wrap: nowrap;
  }
  .md\:flex-wrap-reverse {
    flex-wrap: wrap-reverse;
  }
  .md\:justify-content-start {
    justify-content: flex-start;
  }
  .md\:justify-content-end {
    justify-content: flex-end;
  }
  .md\:justify-content-center {
    justify-content: center;
  }
  .md\:justify-content-between {
    justify-content: space-between;
  }
  .md\:justify-content-around {
    justify-content: space-around;
  }
  .md\:justify-content-evenly {
    justify-content: space-evenly;
  }
  .md\:align-items-start {
    align-items: flex-start;
  }
  .md\:align-items-end {
    align-items: flex-end;
  }
  .md\:align-items-center {
    align-items: center;
  }
  .md\:align-items-baseline {
    align-items: baseline;
  }
  .md\:align-items-stretch {
    align-items: stretch;
  }
  .md\:align-content-start {
    align-content: flex-start;
  }
  .md\:align-content-end {
    align-content: flex-end;
  }
  .md\:align-content-center {
    align-content: center;
  }
  .md\:align-content-between {
    align-content: space-between;
  }
  .md\:align-content-around {
    align-content: space-around;
  }
  .md\:align-content-stretch {
    align-content: stretch;
  }
  .md\:align-self-auto {
    align-self: auto;
  }
  .md\:align-self-start {
    align-self: flex-start;
  }
  .md\:align-self-end {
    align-self: flex-end;
  }
  .md\:align-self-center {
    align-self: center;
  }
  .md\:align-self-baseline {
    align-self: baseline;
  }
  .md\:align-self-stretch {
    align-self: stretch;
  }
}

@media (--lg) {
  .lg\:flex-fill {
    flex: 1 1 auto;
  }
  .lg\:flex-row {
    flex-direction: row;
  }
  .lg\:flex-column {
    flex-direction: column;
  }
  .lg\:flex-row-reverse {
    flex-direction: row-reverse;
  }
  .lg\:flex-column-reverse {
    flex-direction: column-reverse;
  }
  .lg\:flex-grow-0 {
    flex-grow: 0;
  }
  .lg\:flex-grow-1 {
    flex-grow: 1;
  }
  .lg\:flex-shrink-0 {
    flex-shrink: 0;
  }
  .lg\:flex-shrink-1 {
    flex-shrink: 1;
  }
  .lg\:flex-wrap {
    flex-wrap: wrap;
  }
  .lg\:flex-nowrap {
    flex-wrap: nowrap;
  }
  .lg\:flex-wrap-reverse {
    flex-wrap: wrap-reverse;
  }
  .lg\:justify-content-start {
    justify-content: flex-start;
  }
  .lg\:justify-content-end {
    justify-content: flex-end;
  }
  .lg\:justify-content-center {
    justify-content: center;
  }
  .lg\:justify-content-between {
    justify-content: space-between;
  }
  .lg\:justify-content-around {
    justify-content: space-around;
  }
  .lg\:justify-content-evenly {
    justify-content: space-evenly;
  }
  .lg\:align-items-start {
    align-items: flex-start;
  }
  .lg\:align-items-end {
    align-items: flex-end;
  }
  .lg\:align-items-center {
    align-items: center;
  }
  .lg\:align-items-baseline {
    align-items: baseline;
  }
  .lg\:align-items-stretch {
    align-items: stretch;
  }
  .lg\:align-content-start {
    align-content: flex-start;
  }
  .lg\:align-content-end {
    align-content: flex-end;
  }
  .lg\:align-content-center {
    align-content: center;
  }
  .lg\:align-content-between {
    align-content: space-between;
  }
  .lg\:align-content-around {
    align-content: space-around;
  }
  .lg\:align-content-stretch {
    align-content: stretch;
  }
  .lg\:align-self-auto {
    align-self: auto;
  }
  .lg\:align-self-start {
    align-self: flex-start;
  }
  .lg\:align-self-end {
    align-self: flex-end;
  }
  .lg\:align-self-center {
    align-self: center;
  }
  .lg\:align-self-baseline {
    align-self: baseline;
  }
  .lg\:align-self-stretch {
    align-self: stretch;
  }
}

@media (--xl) {
  .xl\:flex-fill {
    flex: 1 1 auto;
  }
  .xl\:flex-row {
    flex-direction: row;
  }
  .xl\:flex-column {
    flex-direction: column;
  }
  .xl\:flex-row-reverse {
    flex-direction: row-reverse;
  }
  .xl\:flex-column-reverse {
    flex-direction: column-reverse;
  }
  .xl\:flex-grow-0 {
    flex-grow: 0;
  }
  .xl\:flex-grow-1 {
    flex-grow: 1;
  }
  .xl\:flex-shrink-0 {
    flex-shrink: 0;
  }
  .xl\:flex-shrink-1 {
    flex-shrink: 1;
  }
  .xl\:flex-wrap {
    flex-wrap: wrap;
  }
  .xl\:flex-nowrap {
    flex-wrap: nowrap;
  }
  .xl\:flex-wrap-reverse {
    flex-wrap: wrap-reverse;
  }
  .xl\:justify-content-start {
    justify-content: flex-start;
  }
  .xl\:justify-content-end {
    justify-content: flex-end;
  }
  .xl\:justify-content-center {
    justify-content: center;
  }
  .xl\:justify-content-between {
    justify-content: space-between;
  }
  .xl\:justify-content-around {
    justify-content: space-around;
  }
  .xl\:justify-content-evenly {
    justify-content: space-evenly;
  }
  .xl\:align-items-start {
    align-items: flex-start;
  }
  .xl\:align-items-end {
    align-items: flex-end;
  }
  .xl\:align-items-center {
    align-items: center;
  }
  .xl\:align-items-baseline {
    align-items: baseline;
  }
  .xl\:align-items-stretch {
    align-items: stretch;
  }
  .xl\:align-content-start {
    align-content: flex-start;
  }
  .xl\:align-content-end {
    align-content: flex-end;
  }
  .xl\:align-content-center {
    align-content: center;
  }
  .xl\:align-content-between {
    align-content: space-between;
  }
  .xl\:align-content-around {
    align-content: space-around;
  }
  .xl\:align-content-stretch {
    align-content: stretch;
  }
  .xl\:align-self-auto {
    align-self: auto;
  }
  .xl\:align-self-start {
    align-self: flex-start;
  }
  .xl\:align-self-end {
    align-self: flex-end;
  }
  .xl\:align-self-center {
    align-self: center;
  }
  .xl\:align-self-baseline {
    align-self: baseline;
  }
  .xl\:align-self-stretch {
    align-self: stretch;
  }
}

@media (--xxl) {
  .xxl\:flex-fill {
    flex: 1 1 auto;
  }
  .xxl\:flex-row {
    flex-direction: row;
  }
  .xxl\:flex-column {
    flex-direction: column;
  }
  .xxl\:flex-row-reverse {
    flex-direction: row-reverse;
  }
  .xxl\:flex-column-reverse {
    flex-direction: column-reverse;
  }
  .xxl\:flex-grow-0 {
    flex-grow: 0;
  }
  .xxl\:flex-grow-1 {
    flex-grow: 1;
  }
  .xxl\:flex-shrink-0 {
    flex-shrink: 0;
  }
  .xxl\:flex-shrink-1 {
    flex-shrink: 1;
  }
  .xxl\:flex-wrap {
    flex-wrap: wrap;
  }
  .xxl\:flex-nowrap {
    flex-wrap: nowrap;
  }
  .xxl\:flex-wrap-reverse {
    flex-wrap: wrap-reverse;
  }

  .xxl\:justify-content-start {
    justify-content: flex-start;
  }
  .xxl\:justify-content-end {
    justify-content: flex-end;
  }
  .xxl\:justify-content-center {
    justify-content: center;
  }
  .xxl\:justify-content-between {
    justify-content: space-between;
  }
  .xxl\:justify-content-around {
    justify-content: space-around;
  }
  .xxl\:justify-content-evenly {
    justify-content: space-evenly;
  }

  .xxl\:align-items-start {
    align-items: flex-start;
  }
  .xxl\:align-items-end {
    align-items: flex-end;
  }
  .xxl\:align-items-center {
    align-items: center;
  }
  .xxl\:align-items-baseline {
    align-items: baseline;
  }
  .xxl\:align-items-stretch {
    align-items: stretch;
  }

  .xxl\:align-content-start {
    align-content: flex-start;
  }
  .xxl\:align-content-end {
    align-content: flex-end;
  }
  .xxl\:align-content-center {
    align-content: center;
  }
  .xxl\:align-content-between {
    align-content: space-between;
  }
  .xxl\:align-content-around {
    align-content: space-around;
  }
  .xxl\:align-content-stretch {
    align-content: stretch;
  }

  .xxl\:align-self-auto {
    align-self: auto;
  }
  .xxl\:align-self-start {
    align-self: flex-start;
  }
  .xxl\:align-self-end {
    align-self: flex-end;
  }
  .xxl\:align-self-center {
    align-self: center;
  }
  .xxl\:align-self-baseline {
    align-self: baseline;
  }
  .xxl\:align-self-stretch {
    align-self: stretch;
  }
}
