.border {
  border: var(--bw) var(--bs) var(--bc);
}

/* Colors */
.border-white {
  --bc: var(--c-white);
}
.border-light {
  --bc: var(--c-light);
}
.border-gray {
  --bc: var(--c-gray);
}
.border-dark {
  --bc: var(--c-dark);
}
.border-black {
  --bc: var(--c-black);
}
.border-primary {
  --bc: var(--c-primary);
}
.border-accent {
  --bc: var(--c-accent);
}
.border-neutral {
  --bc: var(--c-neutral);
}
.border-secondary {
  --bc: var(--c-secondary);
}
.border-success {
  --bc: var(--c-success);
}
.border-info {
  --bc: var(--c-info);
}
.border-warning {
  --bc: var(--c-warning);
}
.border-danger {
  --bc: var(--c-danger);
}

.border-b {
  border-block: var(--bw) var(--bs) var(--bc);
}
.border-bs {
  border-block-start: var(--bw) var(--bs) var(--bc);
}
.border-be {
  border-block-end: var(--bw) var(--bs) var(--bc);
}
.border-i {
  border-inline: var(--bw) var(--bs) var(--bc);
}
.border-ie {
  border-inline-end: var(--bw) var(--bs) var(--bc);
}
.border-is {
  border-inline-start: var(--bw) var(--bs) var(--bc);
}

.border-0 {
  border: 0;
}
.border-b-0 {
  border-block: 0;
}
.border-bs-0 {
  border-block-start: 0;
}
.border-be-0 {
  border-block-end: 0;
}
.border-i-0 {
  border-inline: 0;
}
.border-ie-0 {
  border-inline-end: 0;
}
.border-is-0 {
  border-inline-start: 0;
}

.border-1 {
  --bw: 1px;
}
.border-2 {
  --bw: 2px;
}
.border-3 {
  --bw: 3px;
}
.border-4 {
  --bw: 4px;
}
.border-5 {
  --bw: 5px;
}

.rounded {
  border-radius: var(--br);
}

.rounded-0 {
  border-radius: 0;
}
.rounded-1 {
  border-radius: var(--br_sm);
}
.rounded-2 {
  border-radius: var(--br);
}
.rounded-3 {
  border-radius: var(--br_lg);
}
.rounded-4 {
  border-radius: var(--br_xl);
}

.rounded-circle {
  border-radius: 50%;
}

.rounded-pill {
  border-radius: var(--br_pill);
}

.rounded-top {
  border-top-left-radius: var(--br);
  border-top-right-radius: var(--br);
}

.rounded-end {
  border-top-right-radius: var(--br);
  border-bottom-right-radius: var(--br);
}

.rounded-bottom {
  border-bottom-right-radius: var(--br);
  border-bottom-left-radius: var(--br);
}

.rounded-start {
  border-bottom-left-radius: var(--br);
  border-top-left-radius: var(--br);
}
