@import '../array-vars.pcss';

.m-auto {
  margin: auto;
}

.m-b-auto {
  margin-block: auto;
}

.m-bs-auto {
  margin-block-start: auto;
}

.m-be-auto {
  margin-block-end: auto;
}

.mi-auto {
  margin-inline: auto;
}

.m-ie-auto {
  margin-inline-end: auto;
}

.m-is-auto {
  margin-inline-start: auto;
}

@each $size $i in $array-size {
  .m-$(i) {
    margin: var(--$(size));
  }

  .m-i-$(i) {
    margin-inline: var(--$(size));
  }

  .m-b-$(i) {
    margin-block: var(--$(size));
  }

  .m-bs-$(i) {
    margin-block-start: var(--$(size));
  }

  .m-ie-$(i) {
    margin-inline-end: var(--$(size));
  }

  .m-be-$(i) {
    margin-block-end: var(--$(size));
  }

  .m-is-$(i) {
    margin-inline-start: var(--$(size));
  }

  .p-$(i) {
    padding: var(--$(size));
  }

  .p-i-$(i) {
    padding-inline: var(--$(size));
  }

  .p-b-$(i) {
    padding-block: var(--$(size));
  }

  .p-bs-$(i) {
    padding-block-start: var(--$(size));
  }

  .p-be-$(i) {
    padding-block-end: var(--$(size));
  }

  .p-ie-$(i) {
    padding-inline-end: var(--$(size));
  }

  .p-is-$(i) {
    padding-inline-start: var(--$(size));
  }

  .gap-$(i) {
    gap: var(--$(size));
  }

  .column-gap-$(i) {
    column-gap: var(--$(size));
  }

  .row-gap-$(i) {
    row-gap: var(--$(size));
  }
}

@each $media in $array-media {
  @media (--$(media)) {
    @each $size $i in $array-size {
      .$(media):m-auto {
        margin: auto;
      }

      .$(media):m-$(i) {
        margin: var(--$(size));
      }

      .$(media):m-i-auto {
        margin-inline: auto;
      }

      .$(media):m-i-$(i) {
        margin-inline: var(--$(size));
      }

      .$(media):m-b-auto {
        margin-block: auto;
      }

      .$(media):m-b-$(i) {
        margin-block: var(--$(size));
      }

      .$(media):m-bs-auto {
        margin-block-start: auto;
      }

      .$(media):m-bs-$(i) {
        margin-block-start: var(--$(size));
      }

      .$(media):m-ie-auto {
        margin-inline-end: auto;
      }

      .$(media):m-ie-$(i) {
        margin-inline-end: var(--$(size));
      }

      .$(media):m-be-auto {
        margin-block-end: auto;
      }

      .$(media):m-be-$(i) {
        margin-block-end: var(--$(size));
      }

      .$(media):m-is-auto {
        margin-inline-start: auto;
      }

      .$(media):m-is-$(i) {
        margin-inline-start: var(--$(size));
      }

      .$(media):p-$(i) {
        padding: var(--$(size));
      }

      .$(media):p-b-$(i) {
        padding-block: var(--$(size));
      }

      .$(media):p-bs-$(i) {
        padding-block-start: var(--$(size));
      }

      .$(media):p-be-$(i) {
        padding-block-end: var(--$(size));
      }

      .$(media):p-i-$(i) {
        padding-inline: var(--$(size));
      }

      .$(media):p-ie-$(i) {
        padding-inline-end: var(--$(size));
      }

      .$(media):p-is-$(i) {
        padding-inline-start: var(--$(size));
      }
    }
  }
}
