/* Colors */
.text-muted {
  --text-c: var(--c-muted);
  color: var(--text-c);
}
.text-white {
  --text-c: var(--c-white);
  color: var(--text-c);
}
.text-light {
  --text-c: var(--c-light);
  color: var(--text-c);
}
.text-dark {
  --text-c: var(--c-dark);
  color: var(--text-c);
}
.text-black {
  --text-c: var(--c-black);
  color: var(--text-c);
}
.text-primary {
  --text-c: var(--c-primary);
  color: var(--text-c);
}
.text-accent {
  --text-c: var(--c-accent);
  color: var(--text-c);
}
.text-neutral {
  --text-c: var(--c-neutral);
  color: var(--text-c);
}
.text-secondary {
  --text-c: var(--c-secondary);
  color: var(--text-c);
}
.text-success {
  --text-c: var(--c-success);
  color: var(--text-c);
}
.text-warning {
  --text-c: var(--c-warning);
  color: var(--text-c);
}
.text-info {
  --text-c: var(--c-info);
  color: var(--text-c);
}
.text-danger {
  --text-c: var(--c-danger);
  color: var(--text-c);
}
.text-body {
  --text-c: var(--body-c);
  color: var(--text-c);
}

/* Light Dark 50% */
.text-white-50 {
  color: color-mix(in oklab, var(--text-c), var(--c-white));
}
.text-black-50 {
  color: color-mix(in oklab, var(--text-c), var(--c-black));
}

/* Text transform */
.text-lowercase {
  text-transform: lowercase;
}
.text-uppercase {
  text-transform: uppercase;
}
.text-capitalize {
  text-transform: capitalize;
}
.text-large {
  font-size: var(--fs-lg);
}

.text-wrap {
  white-space: normal;
}
.text-nowrap {
  white-space: nowrap;
}
.text-break {
  word-wrap: break-word;
  word-break: break-word;
}

.text-start {
  text-align: left;
}
.text-end {
  text-align: right;
}
.text-center {
  text-align: center;
}

@media (--sm) {
  .sm\:text-start {
    text-align: left;
  }
  .sm\:text-end {
    text-align: right;
  }
  .sm\:text-center {
    text-align: center;
  }
}

@media (--md) {
  .md\:text-start {
    text-align: left;
  }
  .md\:text-end {
    text-align: right;
  }
  .md\:text-center {
    text-align: center;
  }
}

@media (--lg) {
  .lg\:text-start {
    text-align: left;
  }
  .lg\:text-end {
    text-align: right;
  }
  .lg\:text-center {
    text-align: center;
  }
}

@media (--xl) {
  .xl\:text-start {
    text-align: left;
  }
  .xl\:text-end {
    text-align: right;
  }
  .xl\:text-center {
    text-align: center;
  }
}

@media (--xxl) {
  .xxl\:text-start {
    text-align: left;
  }
  .xxl\:text-end {
    text-align: right;
  }
  .xxl\:text-center {
    text-align: center;
  }
}
